@media(min-width:768px) {

.navbar-default {
	padding: 23px 0;
	background-color: transparent;
	-webkit-transition: padding .3s;
	-moz-transition: padding .3s;
	transition: padding .3s;
}

.navbar-default .navbar-brand {
	font-size: 2em;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s;
}

.navbar-default .navbar-nav > .active > a {
	border-radius: 3px;
}

.navbar-default.navbar-shrink {
	padding: 10px 0;
	background-color: #222;
}

.navbar-default.navbar-shrink .header-social {
	display: none;
}

.navbar-subpage.navbar-shrink .navbar-nav {
	float: left;
	margin: -34px 0px 0px;
}

.navbar-default.navbar-shrink .navbar-brand {
	font-size: 1.5em;
}

}

@media only screen and (min-width: 768px)  and (max-width: 959px)  {

.about-nav li {
    float: left;
    width: 33.3333%;
    padding: 45px 36px;
}

.about-nav .flex-active:before {
    transform: scale(1.08, 1.01);
}

.nav-tabs li a {
    padding: 10px 14px 0px 0px;
}

#stats ul li {
    padding: 50px 12px;
}

.skill-wrap {
    transform: scale(0.8);
    margin-left: -20px;
}

#features .col-md-3 {
    width: 50%;
}

#features .col-md-6 {
display:none;
}

.ql-content p, .qr-content p {
    font-size: 14px
}

.quote-sep {
    background: url('../images/quote.png') no-repeat scroll center center transparent;
    height: 100px;
    position: relative;
    margin: 20px 0 0 0;
	background-size: 99px;
}

#quote-slider .item {
    padding: 50px 0px 0px;
    display: table;
}

.quote-left img, .quote-right img  {
    width: 95px;
    height: 95px;
}

.qr-content {
    margin-left: 116px;
}

.ql-content {
    margin-right: 116px;
}

.portfolio-inner h4, .portfolio-inner p {
	display:none;
}

.pi-icons {
    margin: 26% auto 0px;
}

.owl-prev {
    left: -0px;
}

.owl-next {
    right: -0px;
}

#testimonials {
    background-size: 150% auto;
}

#info-wrap {
    background-size: auto 100% !important;
}

.info-wrap h4 {
    font-weight: 300;
    text-transform: uppercase;
    color: #FFF;
    font-size: 19px;
}

#info-wrap .col-md-6:nth-child(2) {
    padding-left: 20px;
}

.info-wrap {
    padding-left: 75px;
    position: relative;
    display: table;
    width: 100%;
    margin-bottom: -36px;
}

#info-wrap .space30{
	margin-bottom:0;
}

.plan-title, .plan-price {
    padding-left: 25px;
}

.plan-features {
    padding: 55px 0px 0px 25px;
}

.pricing_table .btn1 {
    padding: 0px 30px;
    margin-left: 25px;
}

.contact-info li {
    margin: 0px 30px;
    font-size: 13px;
}

header .intro-text {
    padding: 255px 0px;
}
	
}

@media only screen and (max-width: 767px)  {

.nav li a {
	padding-left:20px;
	padding-right:20px;
}

.about-block1,.about-block2,.about-block3,.ai-inner,.service-content1,.tab-side,.t-img1,.service-content2,.features-left,.features-right,.features-inner img,#quote-slider,.folio-item,.project-info,.staff-pic,.big-img,.info-wrap,.pricing_table li,#clients-slider,.c-form,.contact-info,.contact-social,.gmap {	
	visibility:visible;
}

.container {
	width:100%;
	max-width:450px;
}


.header-social {
    float: right;
    display: none;
    margin: 0px;
}

.navbar-subpage {
    padding: 10px 0px 10px;
}

.navbar-subpage .navbar-nav {
    float: left;
    margin: 25px 0px 0px;
}

.date { 
	display:none;
}

header .intro-text {
    padding: 200px 0px;
}

header .intro-text .intro-heading {
    line-height: 45px;
	font-size: 30px;
}

header .intro-text .intro-lead-in {
    font-size: 25px;
}

.about-nav li {
    float: left;
    width: 100%;
    padding: 45px 25px;
}

.about-nav .ab-inner:before , .about-nav .ab-inner:after {
	display:none !important;
}

.about-nav .flex-active {
    position: relative;
    top: 0px;
}

.excerpt {
    margin-left: 0;
    padding: 15px 0px 0px;
}

.page-nav {
    display: table;
    margin: 0px auto 70px;
}

.ai-inner p {
    font-size: 13px;
    padding: 0px 15px;
}

.ai-inner h3 span {
    line-height: 22px;
}

.service-content i {
    margin-right: auto;
    margin-left: auto;
}

.service-content {
	text-align:center;
}

.content-head p.sub {
    font-size: 17px;
    padding: 0px 5%;
}

.nav-tabs li a {
    padding: 10px 16px 0px 0px;
}

#stats ul li {
    width: 100%;
    border-left: none;
	border-right:none;
	border-bottom:1px solid #ddd;
}

#skills, #testimonials {
background-size:auto 100%;
}

.f-project-img {
    background-size: auto 200%;
}

.project-info {
    background: none repeat scroll 0% 0% #FFA341;
    padding: 40px 30px;
    width: 100%;
    margin: 70px 0px 0px;
}

#skills h4 {
    margin: 35px 0px 20px;
}

#features .col-md-3 {
    width: 100%;
}

#features .col-md-6 {
    width: 100%;
}

.quote-left {
    width: 100%;
	float:none;
}

.quote-left img {
    width: 85px;
    height: 85px;
}

.ql-content {
    margin-right: 106px;
    text-align: right;
}

.ql-content p {
    font-size: 15px;
    color: #FFF;
    font-family: Raleway;
    line-height: 23px;
}

#testimonials cite {
    font-size: 12px;
}

.quote-right {
    width: 100%;
	float:none;
}

.quote-right img {
    width: 85px;
    height: 85px;
}

.qr-content {
    margin-left: 106px;
    text-align: left;
}

.qr-content p {
    font-size: 15px;
    color: #FFF;
    font-family: Raleway;
    line-height: 23px;
}

.quote-sep {
    width: 50%;
    float: none;
    margin: 40px auto;
    height: 121px !important;
}

.quote-sep:before,
.quote-sep:after {
	display:none;
}

.folio-item {
    width: 100%;
}

.owl-prev {
    left: 0px;
}

.owl-next {
    right: 0px;
}

.big-img {
    float: right;
    width: auto;
    max-width: 100%;
}

#info-wrap {
background-size:auto 200%;
    height: auto;
}

#info-wrap .col-md-6:nth-child(2) {
    padding-left: 15px;
}

.pricing_table li {
    width: 100%;
    float: left;
	border-left:none !important;
	border-right:none !important;
    border-bottom: 1px solid #DDD;
	padding-top:15px;
	padding-bottom:20px;
}

.contact-info li {
    float: none;
    margin: 0px 30px 40px;
}

.contact-info li i {
    margin: 0px auto 30px;
}

.contact-social li {
    float: left;
    margin: 0px 0;
    width: 50%;
    padding: 15px;
}

}